{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Rent My Tools &raquo; Rent &raquo; Detail' %}

{% block pageContent %}
	<p class="breadcrumb"><a href="{{ app.request.baseUrl }}/">Rent My Tools</a> &raquo; search results for <b>{{keyword}}</b></p>
	<section id="itemDetails">
		<div id=searchOverview">
		{% if itemDetails %}
            {% for itemDetail in itemDetails %}
            <article class = "itemDetailOverview">
            		<a href="{{ app.request.baseUrl }}/rent/{{ itemDetail.id }}"><img class ="image_overview" src="files/{{itemDetail.imagePath}}"></a>
                    <h2><a href="{{ app.request.baseUrl }}/rent/{{ itemDetail.id }}">{{ itemDetail.title }}</a></h2>
                    <p class="author">Posted by <em><a href="{{ app.request.baseUrl }}/user/{{ itemDetail.username }}">{{ itemDetail.username }}</em></a> on {{ itemDetail.dateadded }}</p>
                    {{ itemDetail.description}}
            </article>
            {% endfor %}
		</div>
		<div class="text-center">
			<ul class="pagination">

			{% if currentPage == 1 %}
					<li class="previousPage disabled"><span>&lt; previous</span></li>
			{% else %}	
					<li class="previousPage"><a href="?search={{keyword}}?p={{currentPage - 1}}" data-p="{{currentPage - 1}}">&lt; previous</
					a></li>
			{% endif %}

			{% for page in 1..pages %}
				{% if page == currentPage %}
					<li  class="active">
						<span>{{currentPage}}</span>
					</li>
				{% else %}
					<li >
						<a href="?search={{keyword}}?p={{page}}" data-p="{{page}}">{{page}}</a>
					</li>
				{% endif %}
			{% endfor %}

			{% if itemDetails|length < 5 %}
				<li class="nextPage disabled"><span>next &gt;</span></li>
			{% else %}
				<li class="nextPage"><a href="?search={{keyword}}?p={{currentPage + 1}}" data-p="{{currentPage + 1}}">next &gt;</a></li>
			{% endif %}
		</ul>
		</div>
		{% else %}
			<p>No tools found with keyword: {{keyword}}!</p>
			<p>Try using only one word or <a href="{{ app.request.baseUrl }}/">return to the homepage</a></p>
		{% endif %}
	</section>

 

{% endblock %}